:root {
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;
    --button-color:#F5F4FA;
}
body {
   background-color: var(--primary-white-color);
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
}

/*убираем точки в списках*/
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/*style header*/
.page-header {
    display: flex;
    align-items: center;
} 
.logo {
    outline: 2px solid tomato;
    width: 145px;
    height: 31px;
    margin: 24px 93px 25px 215px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.web {
    color: #2196F3;
}
.site-nav {
    outline: 2px solid tomato;
    display: flex;
    width: 294px;
    height: 16px;
    align-items: center;
}

/*style menu-nav*/
.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
/*Style mail&telefon*/
.contacts.list .mail {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts.list .tel {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts.list .mail:hover,
.contacts.list .mail:focus {
    color: var(--accent-color);
}
.contacts.list .tel:hover,
.contacts.list .tel:focus {
    color: var(--accent-color);
}
/* Style main*/
.hero {
    background-color: #2F303A;
}
.hero-title {
    background: ;
    color: var(--primary-white-color);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border-color: var(--accent-color);
}
/* Style Peculiarities*/

.title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.discription {
  
    line-height: 1.71;
    color: var(--title-text-color);

}


/*Style Our team */
.team {
    background: #F5F4FA;
}

.team.list .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19; 
}
.team.list .discription {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.19;
}
 
/*Style footer*/
.footer {
    background-color: #2F303A;
}
.adress {
    font-style: normal;
}
.logo-footer {
    color: var(--primary-white-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.adress.list .adress-post {
    color: var(--primary-white-color);
    text-decoration: none;
    line-height: 1.71;

}
.adress.list .mail,
.adress.list .tel {
    color: var(--title-text-color);
    text-decoration: none;
    line-height: 1.71;
}
.adress.list .mail:hover,
.adress.list .mail:focus {
    color: var(--accent-color)
}
.adress.list .tel:hover,
.adress.list .tel:focus {
    color: var(--accent-color)
}
/*Style porfolio*/
    /*Style buttom*/
.filtr {
    list-style: none;
}
 .filtr-btn {
    background-color: var(--button-color);
    color: var(--primary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
}

.filtr-btn.active:hover,
.filtr-btn.active:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.filtr-btn.active:active {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
} 
    /*Style work list*/

.work.list .work-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.work.list .work-dicript {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}